<style>
.articles .title {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .title {
        flex-direction: column;
    }
}

.articles dd {
    margin-bottom: 1em;
}
</style>

<dl class="articles">
    <% for article in articles %>
    <div class="title">
        <a href="<%=article.url%>"><%= article.title %></a> 
        <small class="article-info">
            <i>(<%= article.reading_time %>)</i>
            <%= article.date %>
        </small>
    </div>
    <% end %>
</dl>
