<%= header "Blog Posts | Zack Sargent" %>
<%
def obfuscate(text)
    # put garbage in between all letters in a string
    def snippet(letter, class_name)
        "<span class=\"obfuscated #{class_name}\">#{letter}</span>"
    end
    text.chars.map{ snippet(_1, 'letter') }.reduce { |acc, ele|
        random_letter = ('a'..'z').to_a.sample
        acc << snippet(random_letter, 'garbage') << ele
    }
end
%>

<main>
    <style>
    .obfuscated.garbage {
        display: none;
    }
    </style>
    <h1>Contact</h1>
    <p>I don't really do social media, but feel free to reach out if you have questions, comments, concerns, or just wanna tell me something cool. &#128522;</p>
    <dl>
        <dt><b>Email</b></dt>
        <dd><%= obfuscate ['contact', DOMAIN_NAME].join ?@ %></dd>
        <dt><b>GitHub</b></dt>
        <dd>
            <a href="https://github.com/zsarge">github.com/zsarge</a> <br>
        </dd>
        <dt><b>LinkedIn</b></dt>
        <dd>
            <a href="https://linkedin.com/in/zsarge">linkedin.com/in/zsarge</a>
        </dd>
        <dt><b>Pronouns</b></dt>
        <dd>
          He/Him
        </dd>
    </dl>
</main>

<%= $footer %>
