<%= header "Blog Posts | Zack Sargent" %>
<%
def obfuscate(text)
    # put garbage in between all letters in a string
    def snippet(letter, class_name)
        "<span class=\"obfuscated #{class_name}\">#{letter}</span>"
    end
    text.chars.map{ snippet(_1, 'letter') }.reduce { |acc, ele|
        random_letter = ('a'..'z').to_a.sample
        acc << snippet(random_letter, 'garbage') << ele
    }
end
%>

<main>
    <style>
    .obfuscated.garbage {
        display: none;
    }
    </style>
    <h1 id="contact">Contact</h1>
    <p>I don't really do social media, but feel free to reach out to me directly. &#128522;</p>
    <dl>
        <dt><b>Email</b></dt>
        <dd><%= obfuscate ['contact', DOMAIN_NAME].join ?@ %></dd>
        <dt><b>GitHub</b></dt>
        <dd>
            <a href="https://github.com/zsarge">github.com/zsarge</a> <br>
        </dd>
        <dt><b>LinkedIn</b></dt>
        <dd>
            <a href="https://linkedin.com/in/zsarge">linkedin.com/in/zsarge</a>
        </dd>
        <dt><b>Pronouns</b></dt>
        <dd>
          He/Him
        </dd>
    </dl>

    <hr>

    <h1 id="calendar">Calendar</h1>
    <p>Also, feel free to check out my calendar to see if I'm busy.</p>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&mode=WEEK&showTitle=0&showPrint=0&showCalendars=0&src=emFja2FyeXdzYXJnZW50QGdtYWlsLmNvbQ&src=cTR2amFpZmkxZm9ncmdndmtnaDNzY2huaDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23EF6C00&color=%23616161" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</main>

<%= $footer %>
