<%= header "Zack Sargent's Blog | Home" %>

  <style>
    #age {
      display: inline-block;
      width: 6.4em;
    }

    @media (prefers-reduced-motion: reduce) {
      #age {
        width: fit-content;
      }
    }
  </style>

  <main>
    <h1>Hi! &#128075; My name is Zack Sargent.</h1>

    <p>
      I am a
      <span id="age">
        20
      </span> year old student and software engineer from Cincinnati, Ohio.
    </p>
    <p>I am currently attending Northern Kentucky University, majoring in Computer Science.</p>
    <p>In the summer, I contract as a "Software Engineer III" for Fifth Third.</p>
    <p>I'm really interested in lots of things!</p>
    <ul>
      <li>Cybersecurity</li>
      <li>Distributed Systems</li>
      <li>IoT development</li>
      <li>Video Games (mostly Disco Elysium and Fallout 4)</li>
      <li>Programming
        <ul>
          <li>C++</li>
          <li>C</li>
          <li>Go</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Ruby</li>
          <li>Rust</li>
          <li>TypeScript</li>
        </ul>
      </li>
    </ul>
    <p>I can't guarantee I'll respond quickly, but if you want to talk about any of these topics, or have something to
      share, feel free to
      <a href="/contact.html">
        contact me!
      </a>
    </p>
    <p>For my professional experience, please refer to my
      <a href="https://www.linkedin.com/in/zsarge/">
        LinkedIn.
      </a>
    </p>
    <blockquote>
      I'm an engineer. That means I solve problems.
      <br>
      —The Engineer, <cite>Team Fortress 2</cite>
    </blockquote>
  </main>

  <script>
    // A quick script to show my age in a ridiculous amount of precision.
    const birthday = new Date("2004-06-11");
    function getAgeString() {
      const msPerYear = 1000 * 60 * 60 * 24 * 365.25;
      const differenceInMs = new Date() - birthday;
      const differenceInYears = differenceInMs / msPerYear;
      return differenceInYears.toFixed(9);
    }

    let animationInterval;
    function animateAge() {
      const age = document.getElementById("age");
      if (animationInterval)
        clearInterval(animationInterval);
      animationInterval = setInterval(() => {
        age.textContent = getAgeString();
      }, 50)
    }
    // Grab the prefers reduced media query.
    const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce)");

    // Check if the media query matches or is not available.
    if (!mediaQuery || mediaQuery.matches) {
      console.log("prefers-reduced-motion is enabled");
    } else {
      animateAge();
    }

    // Ads an event listener to check for changes in the media query's value.
    mediaQuery.addEventListener("change", () => {
      if (mediaQuery.matches) {
        clearInterval(animationInterval)
      } else {
        animateAge();
      }
    });
  </script>

<%= $footer %>
