<%= header "Zack Sargent's Blog | Home" %>

<main>
    <h1>Recent Projects</h1>
    <ul style="font-size: 2em; line-height: 1.2em;">
      <li><b><a href="https://zsarge.github.io/gly120/">GLY 120</a></b></li>
      <li><b><a href="https://zsarge.github.io/inf286/">INF 286</a></b></li>
    </ul>
    <h1> Index </h1>
    <%= $articles %>
    <%= $tags %>
</main>

<%= $footer %>
