<header>
    <nav id="top-nav">
        <div class="logo">
            <a href="/">
                Zack Sargent
            </a>
        </div>
        <div class="links">
            <a href="/blog/index.html">Blog</a>
            <a href="/tag/index.html">Tags</a>
            <a href="/contact.html">Contact</a>
        </div>
    </nav>
</header>