<header>
    <nav id="top-nav">
        <ul>
            <li class="logo"><a href="/">Zack Sargent</a></li>
            <li> <a href="/blog">Blog</a> </li>
            <li> <a href="/tag">Tags</a> </li>
            <li> <a href="/about">About</a> </li>
        </ul>
    </nav>
</header>