<header>
    <nav id="top-nav">
        <div class="logo">
            <a href="/">
                Zack Sargent
            </a>
        </div>
        <div class="links">
            <a href="/blog">Blog</a>
            <a href="/tag">Tags</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
</header>