:root {
    --orange: #F7D4BC;
    --text-on-orange: black;
    --blue: #846b8a;
    /* or blue: #4a6fa5 */
}

nav,
header {
    text-align: center;
}

html {
    height: 100%;
}

body {
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
}

main,
footer,
header {
    margin: 0 20%;
    padding: 0;
}

@media only screen and (max-width: 1360px) {

    /* small screens */
    main,
    footer,
    header {
        padding-left: 1em;
        padding-right: 1em;
        margin-left: auto;
        margin-right: auto;
    }
}

.tag {
    padding: 10px;
    background: var(--orange);
    color: var(--text-on-orange);
    border-radius: 1em;
    padding: 0.25em 0.6em;
}

.tag:link {
    text-decoration: none;
}

.tags {
    line-height: 2.3em;
}

#reading-time {
    margin-left: 10px;
}

* {
    font-family: 'Merriweather', Georgia, serif;
}

/* Code Styling */

pre,
code,
.sourceCode,
code span {
    font-family: 'Fira Code', monospace;
    font-size: 0.98em;
    word-spacing: normal;
    box-sizing: border-box;
    background: #fcfcff;
}

pre.sourceCode {
    padding: 10px;
    border: 1px solid #ddd8dd;
    display: inline-block;
    min-width: 100%;
}

code.sourceCode {
    overflow-x: overlay;
    display: block;
    min-width: fit-content;
}

pre.sourceCode::before {
    float: right;
    color: grey;
    font-variant-ligatures: none;
}

pre.rust::before {
    content: "Rust";
    color: #ad966d;
}


pre.python::before,
pre.py::before {
    content: "Python 3";
    color: #75aa75;
}

pre.cpp::before {
    content: "C++";
}

pre.c::before {
    content: "C";
}

pre.javascript::before,
pre.js::before {
    content: "JavaScript";
}

pre.typescript::before,
pre.ts::before {
    content: "TypeScript";
}

pre.ruby::before,
pre.rb::before {
    content: "Ruby";
}