---
export interface Props {
  attribution?: string; // the person the quote is attibuted to
  work?: string; // the work the quote is from
}

const { attribution, work } = Astro.props;
---

<!-- TODO: make better; add more colors; add option for logo, etc  -->
<blockquote
  class="p-4 my-4 border-s-4 rounded border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800"
>
  <p class="font-medium leading-relaxed text-gray-900 dark:text-white">
    <slot />
    {
      attribution && work ? (
        <div>
          &mdash; {attribution}, <i>{work}</i>
        </div>
      ) : (
        attribution && <div>&mdash; {attribution}</div>
      )
    }
  </p>
</blockquote>
