---
import { RiBlueskyFill, RiMastodonFill } from "@remixicon/react";
import MdiGithub from "~icons/mdi/github";
import MdiRss from "~icons/mdi/rss";
import type { ComponentType } from "preact";
import { BLUESKY_URL, FEDIVERSE_URL, GITHUB_HANDLE } from "../consts";

const socials: [string, string, ComponentType][] = [
  ["BlueSky", BLUESKY_URL, RiBlueskyFill],
  ["Fediverse", FEDIVERSE_URL, RiMastodonFill],
  ["GitHub", GITHUB_HANDLE, MdiGithub],
  ["RSS", "/rss.xml", MdiRss],
];

interface Props {
  type: "badges" | "icons";
}

const { type } = Astro.props;

const isIcons = type == "icons";
---

{
  type === "icons" ? (
    <div class="flex items-center space-x-1">
      {socials.map(([siteName, siteURL, SiteIcon]) => (
        <a
          href={siteURL}
          target="_blank"
          class="w-8 h-8 flex items-center justify-center rounded-md p-1.5 hover:bg-slate-300 dark:hover:bg-slate-800"
        >
          <SiteIcon />
          <span class="sr-only">{siteName}</span>
        </a>
      ))}
    </div>
  ) : (
    <div class="space-x-1">
      {socials.map(([siteName, siteURL, SiteIcon]) => (
        <a
          href={siteURL}
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <SiteIcon />
          <span>{siteName}</span>
        </a>
      ))}
    </div>
  )
}
