/* CSS for chatbot conversations (i.e. Bard, ChatGPT, and Bing Chat) */
blockquote {
    background: unset;
    padding: unset;
    border-left: unset;
}

.human,
.bard,
.chatgpt,
.bing {
    padding: 0.5em 1em;
    padding-top: 0;
}

.human {
    margin: 1rem 1rem 1rem auto;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
    display: block;
}

.human code,
.human div.sourceCode,
.human pre.sourceCode,
.human span {
    background: #333;
    border: none;
}

.bard-title,
.chatgpt-title,
.bing-title {
    line-height: 1em;
    font-weight: bold;
}

.bard-title::before,
.chatgpt-title::before,
.bing-title::before {
    vertical-align: middle;
    content: "";
    display: inline-block;
    background-size: 32px 32px;
    vertical-align: -50%;
    width: 32px;
    height: 32px;
    margin-right: 0.4em;
}

.bard {
    background: #f3f6fc;
}

.bard-title::before {
    background-image: url(/assets/chatbot-comparison/bard.gif);
}

.chatgpt {
    background: #f7f7f8;
}

.chatgpt-title::before {
    background-image: url(/assets/chatbot-comparison/chatgpt.png);
}

.bing {
    background: #eceefb;
}

.bing-title::before {
    background-image: url(/assets/chatbot-comparison/bing.png);
}

blockquote {
    display: inline-block;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    margin: 0;
    margin-bottom: 0.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    max-width: 100%;
    overflow: auto;
}

.blockquote code {
    word-wrap: break-word;
}

.human details {
    background: none;
    color: white;
}


@media (prefers-color-scheme: dark) {
    .bard {
        background-color: #222327;
    }

    .chatgpt {
        background-color: #343541;
    }

    .bing {
        background-color: #242322;
    }
}