:root {
    --max-width: 40em;
    --border-radius: 1em;
    /* Colors */
    --page-background: white;
    --orange: #F7D4BC;
    --dark-orange: #f2b78e;
    --burnt-orange: #CC5500;
    --orange-border: #c6aa96;
    --blue-background: #e7f0f9;
    --blue-border: #6666CC;
    --text: #212427;
    --link: #5d2490;
    --less-prominent-text: #3d4348;
    --gray-background: #fcf2f2;
    --gray-border: darkgray;
    --code-background: #fcfcff;
    --code-border: #ddd8dd;
    --code-python: forestgreen;
    --table-border: #999;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --page-background: #272822;
        --orange: #41352a;
        --dark-orange: #111111;
        --burnt-orange: #CC5500;
        --orange-border: #5d3f30;
        --link: #cd9df8;
        --blue-background: #2d383c;
        --blue-border: #414c50;
        --text: #dedede;
        --less-prominent-text: #cba5bd;
        --gray-background: #3a3636;
        --gray-border: #4e4e4e;
        --code-background: #1f1f1f;
        --code-border: #3e332b;
        --code-python: #d3d3a3;
        --table-border: #685f68;
    }
}

nav,
header {
    text-align: center;
}

html {
    height: 100%;
    background: var(--page-background);
}

body {
    font-family: "Arial", Gadget, sans-serif;
    height: 100%;
}

main,
footer,
header {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    color: var(--text);
}

article {
    word-wrap: break-word;
}

@media only screen and (min-width: 50em) {
    /* 50em = calc(var(--max-width) + 2em) */

    main,
    footer,
    header {
        margin: 0 auto;
        max-width: var(--max-width);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
}

a {
    color: var(--link);
}

.tag {
    padding: 10px;
    background: var(--orange);
    color: var(--less-prominent-text);
    border-radius: var(--border-radius);
    padding: 0.25em 0.6em;
    transition: 0.3s;
}

.tag:hover {
    color: var(--text);
    background-color: var(--dark-orange);
}

.tag:link {
    text-decoration: none;
}

.tags a {
    word-wrap: nowrap;
    white-space: nowrap;
}

#reading-time {
    margin-left: 10px;
    margin-right: 5px;
}

.post-title {
    margin-bottom: 0em;
    font-size: 2em;
    line-height: 1.1em;
}

#post-meta {
    color: var(--less-prominent-text);
    line-height: 1.8em;
    padding: 0.5em 0;
    font-size: 0.9em;
}

/* #post-meta span {
    margin-right: 0.5em;
} */


/* TABLE OF CONTENTS */

#table-of-contents {
    width: fit-content;
    padding: 1em 1.5em;
    background: var(--orange);
    border-radius: var(--border-radius);
    border-color: var(--orange-border);
    border-style: solid;
}

#table-of-contents h3 {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

#table-of-contents ul {
    padding: 0;
    padding-left: 1em;
    margin: 0;
}


/* Code Styling */

pre,
code,
div.sourceCode,
code span {
    font-family: 'Fira Code', monospace;
    font-size: 0.98em;
    word-spacing: normal;
    box-sizing: border-box;
    background: var(--code-background);
}

div.sourceCode {
    border: 2px solid var(--code-border);
}

code.python span.bu {
    color: var(--code-python);
}

pre {
    padding: 10px;
    border: 2px solid var(--code-border);
    display: inline-block;
    min-width: 100%;

    overflow-x: auto;
    max-width: 100%;
}

div.sourceCode pre {
    border: none;
    /* ensure we don't have nested borders for text boxes */
}

code.sourceCode {
    overflow-x: overlay;
    display: block;
    min-width: fit-content;
}

/*
pre.sourceCode::before {
    float: right;
    color: grey;
    font-variant-ligatures: none;
}

pre.rust::before {
    content: "Rust";
    color: #ad966d;
}


pre.python::before,
pre.py::before {
    content: "Python 3";
    color: #75aa75;
}

pre.cpp::before {
    content: "C++";
}

pre.c::before {
    content: "C";
}

pre.javascript::before,
pre.js::before {
    content: "JavaScript";
}

pre.typescript::before,
pre.ts::before {
    content: "TypeScript";
}

pre.ruby::before,
pre.rb::before {
    content: "Ruby";
} */

/* TOP NAV */
/* TODO: have cool logo */
/* TODO: have hover effects */
/* TODO: Make it look good on pc & mobile (responsive :O) */

#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* TODO: Mobile CSS : put links below name */
.logo a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 10px;
}

.logo a:hover {
    background: var(--burnt-orange);
}

.links a {
    margin-left: 20px;
}

.links a:first-child {
    margin-left: 0;
}

@media (max-width: 600px) {
    #top-nav {
        flex-direction: column;
        align-items: center;
    }

    .links {
        margin-top: 10px;
    }
}

nav a::after {
    content: none
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

/* aside */
aside {
    background: var(--blue-background);
    padding: 0.5em 1.5em;
    border-left: solid var(--blue-border);
}

blockquote,
.blockquote {
    background: var(--gray-background);
    padding: 0.5em 1.5em;
    margin: 0;
    border-left: solid var(--gray-border);
}

main {
    margin-bottom: 6em;
}

footer {
    padding: 2em 0;
}

/* tables */
table {
    border-collapse: collapse;
    border-radius: var(--border-radius);
}

td,
th {
    border: 1px solid var(--table-border);
    padding: 0.5rem;
    text-align: left;
}

/* details / summary */

details {
    background-color: var(--blue-background);
    padding: 1em;
}

details[open] summary~* {
    animation: fade .5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Images */

img {
    max-width: 100%;
}


/* footnotes */
a[role=doc-backlink] {
    margin-left: 0.5em;
}

a[role=doc-noteref] {
    line-height: 1em;
    text-decoration: none;
}

.indent {
    text-indent: 2em;
}

/* default markdown images */
figure {
    display: inline-block;
}

figcaption {
    text-align: center;
}

/* reduce spacing for p tags in asides */
aside p:first-of-type {
    margin-top: 0.1em;
}

/* katex support */
.katex-html {
    display: none;
}

.katex-mathml {
    font-size: 1.5em;
}